---
interface Props {
  id: string
}

const { id } = Astro.props
---

<script>
  import Dropdown from "@/lib/classes/Dropdown"

  customElements.define("dropdown-button", Dropdown)
</script>

<dropdown-button data-id={id + "-panel"} class="relative">
  <slot name="button" />
  <div
    id={id + "-panel"}
    class="hidden opacity-0 -translate-y-4 scale-y-80 duration-300 transition-all"
  >
    <slot name="panel" />
  </div>
</dropdown-button>
