<a href="/" class="text-accent" title="Ronatec | Homepage">
  <span class="sr-only">Ronatec C2C, Inc.</span>

  <img
    src="/images/ronatec.png"
    class="w-10 h-10 text-center text-accent"
    alt="Ronatec C2C, Inc. Logo"
    transition:persist
  />
</a>
