---
import Logo from "./Logo"
import Sticky from "./Sticky.astro"
import MainMenu from "./MainMenu"
import MobileNav from "./MobileNav"
import UserNav from "./UserNav"
import type { MainMenuLink } from "@/api/types"

type Props = {
  menuItems: MainMenuLink | undefined
}

const { menuItems } = Astro.props
---

<Sticky>
  <div
    class="bg-white mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl h-16 flex items-center justify-between"
  >
    <div
      class="scale-100 lg:max-w-0 lg:overflow-hidden lg:scale-0 transition-all"
      transition:persist
    >
      <MobileNav />
    </div>

    <Logo />

    <div
      class="scale-0 absolute lg:relative lg:scale-100 transition-all lg:flex w-full justify-start"
    >
      <MainMenu {menuItems} />
    </div>
    <UserNav />
  </div>
</Sticky>
